/* app css stylesheet */

body {
  background: url('../img/bg.png') repeat scroll 0 0;
  padding-top: 0;
}

input {
	height: 30px !important;	
}

label {
	display: block;
}

.small-text {
	font-size: 14px;
}


/**
 * Layout
 */
.content {
	background-color: white;
    box-shadow: 0 1px 5px #777777;
}



/**
 * Edit form
 */
#editCvForm legend {
	margin-bottom: 20px;	
}
#editCvForm legend i {
	margin-right: 5px;
    margin-top: 5px;
}

#editCvForm fieldset {
	margin-top: 30px;
	padding-bottom: 11px;
}
#editCvForm fieldset:hover {
    background-color: #FDFDFD;
    border-bottom: 1px dashed #DDDDDD;
    margin-top: 30px;
    padding-bottom: 10px;
}

#editCvForm label {
	margin-top: 7px;	
}

#editCvForm .img-profile {
	width: 180px;
	height: 180px;
	border-radius: 110px;
	border: 1px solid #ddd;
	padding: 4px;
	margin-right: 35px;
	margin-top: 40px;
}